[MAIN]
py-version = 3.9.0
disable=
    # Allow 'TODO:' in code.
    fixme,
    # Overly zealous duplicate code detection.
    duplicate-code,
    # These debatable style lints are quite annoying, and often push
    # you into mixing up small changes (adding one statement to a function)
    # with large refactors (splitting the function up into shorter functions).
    too-few-public-methods,
    too-many-arguments,
    too-many-positional-arguments,
    too-many-branches,
    too-many-instance-attributes,
    too-many-locals,
    too-many-return-statements,
    too-many-statements,
    # Handled by Black.
    line-too-long,
    # This is technically correct but not that important.
    logging-fstring-interpolation,
    # TODO: These should be enabled but writing documentation for
    # all of the code is not feasible in one go.
    missing-module-docstring,
    missing-function-docstring,
    missing-class-docstring,

# These names are fine when used sensibly. Without listing them here
# Pylint will complain they are too short.
good-names=c,i,j,k,id,pc
